@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* styling the menu sidenav */

main {
    display: flex;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AAD36C;
    width: 7.5rem;
    height: 100vh;
    padding-top: 2rem;
    /* border-radius: 1.5rem; */
    position: fixed;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-bar img {
    width: 2rem;
    height: 2rem;
    margin-bottom: 3.5rem;
    cursor: pointer;
    
}

/* .menu-icon {
    filter: invert(100%);
} */

.cart-icon {
    background-color:black;
    padding: 2rem 2.7rem;
    /* filter: invert(100%); */
}

.home, .location, .logout {
    filter: invert(100%);
}

.cart-anchor {
    text-decoration: none;
}

.cart-count {
    position: relative;
    left: 47%;
    bottom: 74%;
    text-decoration: none;
    color: #AAD36C;
    font-weight: bold;
}
/* end of styling for the side bar  */

/* styling for the order section  */

.orders-section h1 {
    font-size: 3.125rem;
    margin-top: 0;
    position: fixed;
    background-color: white;
    color:#549A0A;
    width: 100%;
}

.orders-section {
    margin-left: 12%;
    margin-right: 2%;
    margin-bottom: 3rem;
}

.orders {
    margin-top: 6.3rem;
    background-color: #AAD36C;
    width: 38.063rem;
    padding: 2rem;
    /* height: fit-content; */
}

.food-price {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    /* display: none; */
}

.active.food-price {
    display: none;
}

.food-img {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    margin-right: 1rem;
}

.name-price {
    margin-right: 9rem;
    width: 9.375rem;
}

.name-price p {
    margin: 0;
    font-weight: bold;
}

.food-price input {
    width: 1rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    display: flex;
}

.food-price button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.increament-btn {
    margin-right: 9rem;
}

.del-btn {
    cursor: pointer;
}
/* end of styling order section */

/* styling for the confirm section */

.confirm-container {
    margin-top: 6.3rem;
}

.confirm-order {
    padding: 1rem;
    background-color: #AAD36C;
}

.confirm-container h2 {
    margin: 0;
}

.confirm-order p {
    margin:  1.5rem 0;
}

.confirm-order button {
    padding: 0.5rem 3rem;
    font-size: 1rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.promo-code {
    padding: 1rem;
    border: 1px solid rgb(231, 225, 225);
}

.promo-code input {
    display: block;
    margin: 1.5rem 0;
    height: 2rem;
    width: 100%;
    font-size: 1rem;
}

.promo-code button {
    padding: 0.5rem 2rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* styling for media responsiveness  */

@media (max-width:1080px) {
    .orders {
        width: 35rem;
        padding: 1rem;
    }

    .orders-section {
        margin-left: 16%;
    }

    .name-price {
        margin-right: 5rem;
    }
}

@media (max-width:1030px) {
    .orders-section {
        margin-left: 14%;
    }
}

@media (max-width:1000px) {

    .orders {
        width: 30rem;
    }

    .name-price {
        margin-right: 3rem;
    }

    .increament-btn {
        margin-right: 5rem;
    }

    .orders-section {
        margin-left: 15%;
    }
}

@media (max-width:913px) {
    .orders {
        width: 27rem;
    }

    .name-price {
        margin-right: 3rem;
    }

    .increament-btn {
        margin-right: 3rem;
    }

    .orders-section {
        margin-left: 16%;
    }
}

@media (max-width:870px) {
    .orders-section h1 {
        font-size: 2.5rem;
    }

    .orders {
        margin-top: 5rem;
    }

    main {
        flex-direction: column;
    }

    .confirm-container, .orders-section {
        margin-left: 22%;
    }

    .confirm-container {
        margin-top: 0;
        width: 18rem;
        margin-bottom: 3rem;
    }

    .orders-section {
        margin-bottom: 3rem;
    } 
}

@media (max-width:600px) {
    .orders {
        width: 22rem;
    }

    .confirm-container, .orders-section {
        margin-left: 25%;
    }

    .food-img {
        height: 2rem;
        width: 2rem;
        margin-right: 0.5rem;
    }

    .name-price {
        width: 9.375rem;
        margin-right: 2rem;
    }
    
    .name-price p {
       font-size: 0.8rem;
    }

    .increament-btn {
        margin-right: 2rem;
    }

    .del-btn {
        width: 1rem;
        height: 1rem;
    }
}

@media (max-width:530px) {

    .nav-bar {
        width: 5rem;
        padding-top: 2rem;
    }

    .nav-bar img {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 3.5rem;       
    }
    
    .cart-icon {   
        padding: 1.5rem 1.8rem;
    }

    .cart-count {
        font-size: 0.8rem;
        bottom: 77%;
    }


    .orders-section h1 {
        font-size: 2rem;
    }

    .orders {
        margin-top: 3.5rem;
        width: 19rem;
    }

    .confirm-container, .orders-section {
        margin-left: 30%;
    }
}

@media (max-width:500px) {
    .orders {
        width: 17rem;
    }

    .confirm-container, .orders-section {
        margin-left: 30%;
    }

    .name-price p {
        font-size: 0.7rem;
     }

     .name-price small {
        font-size: 0.6rem;
     }

    .food-price input {
        width: 0.8rem;
        padding: 0.3rem;
        margin: 0 0.3rem;
    }

    .increament-btn {
        margin-right: 1rem;
    }

    .del-btn {
        width: 0.8rem;
        height: 0.8rem;
    }

}

@media (max-width:470px) {
    .confirm-container, .orders-section {
        margin-left: 25%;
    }

    .orders {
        padding: 0.5rem;
    }
}

@media (max-width:400px) {
    .orders, .confirm-container {
        width: 16rem;
    }

    .name-price {
        margin-right: 1rem;
    }
}