@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* styling the menu sidenav */

main {
    display: flex;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AAD36C;
    width: 7.5rem;
    height: 100vh;
    padding-top: 2rem;
    /* border-radius: 1.5rem; */
    position: fixed;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-bar img {
    width: 2rem;
    height: 2rem;
    margin-bottom: 3.5rem;
    cursor: pointer;
    
}

.menu-icon {
    background-color:white;
    padding: 2rem 2.7rem;
    filter: invert(100%);
}

.home, .cart, .location, .logout {
    filter: invert(100%);
}

.cart-anchor {
    text-decoration: none;
}

.cart-count {
    position: relative;
    right: 50%;
    bottom: 85%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* end of styling for the side bar  */

/* styling for the food section  */

.food-section {
    margin-left: 12%;
    margin-bottom: 5%;
}

.food-section h1 {
    font-size: 3.125rem;
    margin-top: 0;
    position: fixed;
    background-color: white;
    color:#549A0A;
    width: 100%;
}

.food-container {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.food img {
   height: 15rem;
   width: 15rem;
   border-top-right-radius: 1rem;
   border-top-left-radius: 0.8rem;
}

.text-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #549A0A;
}

.text-btn p {
    font-weight: 600;
    margin-right: 1rem;
    color: white;
}

.text-btn button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    cursor: pointer;

}

.btn-loadmore {
    padding: 0.625rem 1.8rem;
    background-color: #549A0A;
    /* border-radius: 6.25rem; */
    border: none;
    font-size: 0.875rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: white;
    cursor: pointer;
    margin: 3rem auto;
}


